main{
  align-self: auto;
  background-color: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
}

#age{
  border-right: 50;
}

#allSymptomsHolder{
display: flex;
flex-wrap: wrap;
  }

.blocktitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  }

.questionblock{
  background-color: antiquewhite;
  border:black solid ;
  margin: 20px;
  align-self: flex-start;
  }
#twroptions{
  display: inline

}

#displayNTWR{
display:block;
margin-top:20px

}