
.pathDisplayBlockCommon{
margin: 10px;
border:solid magenta;

}
.pathDisplayBlocktwr{
    margin: 10px;
    border:solid magenta;
    background-color:rgb(255, 96, 96)
}
.pathDisplayBlockConditional{
    margin: 10px;
    border:solid magenta;
    background-color: lightgoldenrodyellow;
    }

.pathDisplayBlockNotTwr{
    margin: 10px;
    border:solid magenta;
    background-color: lightgreen
    }

.pathMessage{
    margin-bottom: 10px;
}

.investigation{
    margin-right: 30px;
}

#investigationsBlock{
    margin:10px;
    background-color: palevioletred;
}
#hidden{
display: none;
}


