.pathDisplayBlocktwr{
    border:solid magenta;
    background-color:red
}
.pathDisplayBlockConditional{
    border:solid magenta;
    background-color: lightgoldenrodyellow;
    }

.pathDisplayBlockNotTwr{
    border:solid magenta;
    background-color: lightgreen
    }

.pathMessage{
    margin-bottom: 10px;
}

.investigation{
    margin-right: 30px;
}

#investigationsBlock{
    background-color: palevioletred;
}

